p
{
    text-align: center;
}

.buttton
{
	font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
    font-size: x-large;
    color: white
}

body
{
    text-align: center;
}

button
{
	text-align: center;
}